<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Home</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/book/list']" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"> Livro </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/author/list']" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"> Autor </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/subject/list']" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"> Assunto </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/report']" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"> Relatório </a>
      </li>
    </ul>
  </div>
</nav>
