/DesafioEdCRUD/obj
/DesafioEdCRUD/bin
/DesafioEdCRUD/logs
/DesafioEdCRUD/internal_logs
/DesafioEdCRUD.Integration.Tests/obj
/DesafioEdCRUD.Integration.Tests/bin
/Contracts/obj
/Contracts/bin
/Entities/obj
/Entities/bin
/LoggerService/obj
/LoggerService/bin
/Repository/obj
/Repository/bin
