/DesafioEdCRUD/obj
/DesafioEdCRUD/bin
DesafioEdCRUD\logs
DesafioEdCRUD\internal_logs
/DesafioEdCRUD.Integration.Tests/obj
/DesafioEdCRUD.Integration.Tests/bin
/DesafioEdCRUD.Unit.Tests/obj
/DesafioEdCRUD.Unit.Tests/bin
/Contracts/obj
/Contracts/bin
/Entities/obj
/Entities/bin
/LoggerService/obj
/LoggerService/bin
/Repository/obj
/Repository/bin
/logs/*
/internal_logs/*