<div class="row">
  <div class="offset-10 col-md-2">
    <button [routerLink]="['/subject/create']" type="button" id="details" class="btn btn-info"> Cadastrar Assunto</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Editar</th>
            <th>Deletar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subject of subjects | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalCount }">
            <td>{{subject.description}}</td>
            <td><button type="button" id="update" class="btn btn-success" (click)="redirectToUpdatePage(subject.subjectId)">Editar</button></td>
            <td><button type="button" id="delete" class="btn btn-danger" (click)="redirectToDeletePage(subject.subjectId)">Deletar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right">
      <pagination-controls
        previousLabel="Anterior"
        nextLabel="Próximo"
        responsive="true"
        (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>
  </div>
</div>
