<div class="row">
  <div class="offset-10 col-md-2">
    <button [routerLink]="['/book/create']" type="button" id="details" class="btn btn-info"> Cadastrar Livro</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Título</th>
            <th>Editora</th>
            <th>Edição</th>
            <th>Ano Publicação</th>
            <th>Valor</th>
            <th>Detalhes</th>
            <th>Editar</th>
            <th>Deletar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalCount }">
            <td>{{book.title}}</td>
            <td>{{book.company}}</td>
            <td>{{book.edition}}</td>
            <td>{{book.publishYear}}</td>
            <td>R${{book.value}}</td>
            <td><button type="button" id="details" class="btn btn-light" (click)="getBookDetails(book.id)">Detalhes</button></td>
            <td><button type="button" id="update" class="btn btn-success" (click)="redirectToUpdatePage(book.id)">Editar</button></td>
            <td><button type="button" id="delete" class="btn btn-danger" (click)="redirectToDeletePage(book.id)">Deletar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right">
      <pagination-controls
        previousLabel="Anterior"
        nextLabel="Próximo"
        responsive="true"
        (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>
  </div>
</div>
